.App {
  text-align: center;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.905);
  color: whitesmoke;
  font-family: Times;
  font-weight:bold;
  font-style: italic;
}
.head{
  background: rgba(36, 36, 36, 0.976);
  text-align: center;
  min-height: 8vh;
}
.foot{
  background: black;
  text-align: center;
  min-height: 6vh;
  padding-top: 0.25px;
}
.notFound{
  min-height: 85vh;
}
.home{
    min-height: 85vh;
    background: rgba(10, 10, 10, 0.54);
}
.parent-list h3{
color: rgb(152, 152, 241);

}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}


.display{
  background: rgba(84, 76, 76, 0.389) ;
  border-radius: 15px;
  padding-top: 20px;
  padding-bottom: 0px;
  cursor: pointer;

}
.display:hover {
  transform: scale(1.1);
  transition: all 0.5s;
}

.single-detail{
  min-height: 85vh;
  display: grid;
  gap: 10px;
  /* grid-template-columns: 1fr 1fr; */
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

}

.left-view{
  background: rgb(59, 52, 52);
  border-radius: 20px;
  margin: 50px;
}
.right-view{
  padding-top: 20px;
  background: rgb(29, 32, 29);
  border-radius: 30px;
  margin: 50px;
}

.right-view:hover ,.left-view:hover {
  transform: scale(1.1);
  transition: all 0.5s;
}